@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    width: 100%;
   
    height: 100%;
    padding: 0;
    margin: 0;
    background: black;
}
canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    /* margin: -160px 0; */
    margin: -160px 0;
    
}

.content{
    display: flex;
    justify-content: center;
    text-align: center;
    color: blue;
    font-size: 1.3rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    margin: 0 auto;
}

.fa-3x{
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
    color: chocolate;
}

.img-cat{
    display: flex;
    margin: 26px 88px;
    width: 210px;
}

.cat-size{
  width: 220px;
}

